<%# LEFT SIDEBAR %>
<%= render 'layouts/showsidebar', user: @user %>
        
<%# RIGHT MAINCONTENTS %>
        <div class="col-xs-9">
            <h2>Book detail</h2>
            <table class="table">
                <tbody>
                    <tr id="book_<%= @book.id %>">
                        <%= render 'books/detail', book: @book %>    
                    </tr>
                </tbody>
            </table>

            <table class="table" id="comment_area">
                <% @book.book_comments.each do |book_comment| %>
                    <tr id="comment_<%= book_comment.id %>">
                        <%= render 'books/comment', book_comment: book_comment %>
                    </tr>
                <% end %>
            </table>

            <div class="row" id="comment_form">
                <%= form_for [@book, @book_comment], remote: true do |f| %>
                    <%= f.text_area :comment, style:"width: 90%; height: 100px;" %>
                    <%= f.submit "送信" %>
                <% end %>
            </div>


        </div>
    </div>
</div>